{# Set variable defaults #}
{% set type = type in ['button', 'link', 'submit', 'reset'] ? type : 'link' %}
{% set themes = ['solid-green', 'solid-blue', 'outline-green', 'outline-blue', 'transparent'] %}
{% set theme = theme in themes ? theme : 'solid-green' %}
{% set padding = padding ?? 'px-6 py-2' %}
{% set id = id ? 'id="' ~ id ~ '"' : '' %}
{% set is_disabled = is_disabled ?? false %}
{% set is_download = is_download ?? false %}
{% set is_new_tab = is_new_tab ?? false %}
{% set aria_controls = aria_controls ? 'aria-controls="' ~ aria_controls ~ '"' : '' %}
{% set aria_expanded = aria_expanded ? 'aria-expanded="' ~ aria_expanded ~ '"' : '' %}
{% set cursor_classes = is_disabled ? 'cursor-not-allowed opacity-80' : 'cursor-pointer' %}
{% set text_classes = text_classes ?? 'text-lg' %}

{# Component core classes. #}
{% set core_classes = 'flex items-center justify-center self-center w-fit border-2 rounded-md transition no-underline' %}

{# Set up button theme classes as an object. #}
{% set theme_classes = {

  'solid-green': 'bg-green border-green text-white hover:bg-green-d1 hover:border-green-d1 active:bg-green-d2 active:border-green-d2',

  'solid-blue': 'bg-stone border-stone text-white hover:bg-stone-d1 hover:border-stone-d1 active:bg-stone-d2 active:border-green-d2',

  'outline-green': 'bg-white border-green text-green hover:border-heritage hover:text-heritage hover:bg-[color-mix(in_oklch,theme(colors.modern.l2)_10%,white)] active:border-heritage active:text-heritage active:bg-[color-mix(in_oklch,theme(colors.modern.l2)_25%,white)]',

  'outline-blue': 'bg-white border-stone text-stone hover:border-stone-d2 hover:text-stone-d2 hover:bg-[color-mix(in_oklch,theme(colors.shannon.l2)_15%,white)] active:border-stone-d2 active:text-stone-d2 active:bg-[color-mix(in_oklch,theme(colors.shannon.l2)_30%,white)]',

  'transparent': 'bg-transparent border-white text-white hover:bg-black/30 active:bg-black/50'

} %}

{# Combine classes into a single string to pass to the component. #}
{% set classes = [core_classes, cursor_classes, theme_classes[theme], padding, modifiers]|join(' ') %}

{# Define the button content, including optional blocks. #}
{% set btn_content %}
  {% block html_left %}{% endblock %}
  <span class="{{ text_classes }}">
    {{ text }}
  </span>
  {% block html_right %}{% endblock %}
{% endset %}

{# The component markup #}
{% if type == 'link' %}
  <a
    {{ id }}
    href="{{ is_disabled ? '#' : url }}"
    class="{{ overrides is empty ? classes|trim : overrides }}"
    title="{{ text }}"
    {{ is_download ? 'download' : '' }}
    {{ is_new_tab ? 'target="_blank"' : '' }}
    >
    {{ btn_content }}
  </a>
{% else %}
  <button
    {{ id }}
    {{ aria_controls }}
    {{ aria_expanded }}
    type="{{ type }}"
    class="{{ overrides is empty ? classes|trim : overrides }}"
    title="{{ text }}"
    {{ is_disabled ? 'disabled' : '' }}
    >
    {{ btn_content }}
  </button>
{% endif %}
