{#
/**
 * @file
 * Accordion component.
 * 
 * @see https://coras.ul.ie/components/accordion/#properties for full documentation.
 */
#}
{% set acc_modifiers = acc_modifiers ?? 'border-b border-granite-l3 dark:border-granite-d1' %}
{% set acc_title_colour = acc_title_colour in ['green', 'white'] ? acc_title_colour : 'green' %}
{% set acc_title_size = acc_title_size in ['small', 'medium', 'large'] ? acc_title_size : 'medium' %}

{# The icon fill should depend on the title fill. #}
{% set acc_icon_fill %}
  {{ acc_title_colour == 'green' ? 'fill-green dark:fill-granite-l3 group-open:fill-granite' : 'fill-granite-l4' }}
{% endset %}

{# Combine the account title classes. #}
{% set acc_title_classes %}
  {{ acc_title_colour == 'white' ? 'text-granite-l3' : 'text-green dark:text-granite-l3' }}
  {{ acc_title_size == 'small' ? 'text-lg' : acc_title_size == 'medium' ? 'text-xl' : 'text-2xl' -}}
{% endset %}

<details
  {% if acc_id is not empty %} id="{{ acc_id }}"{% endif %}
  class="group {{ acc_modifiers }}">

  <summary class="flex justify-between cursor-pointer px-4 py-6">

    <span class="font-bold {{ acc_title_classes }}">

      {{ acc_title }}

    </span>

    {% include '@components/icon/icon.twig' with {
      icon_fill: acc_icon_fill,
      icon_name: 'chevron-down',
      icon_type: 'solid',
      icon_size: 'w-4 shrink-0',
      icon_modifiers: 'group-open:rotate-180 transition-all'
    } %}

  </summary>

  <div class="px-4 -mt-4">

    {% block acc_html %}{% endblock %}

  </div>

</details>