{# The Swatch Colour Component (internal only) #}

<div
  class="group relative w-full flex flex-col wrap m-1 p-1.5 border border-granite-l3
  cursor-pointer dark:border-granite-d1 hover:border-granite-l2 
  hover:dark:border-granite active:border-granite-l1">

  <div
    class="relative flex flex-col justify-end {{ height }} {{ bgColor }} p-0.75 overflow-hidden"
    title="Click or tap to copy the hex code">

    <div
      class="relative w-full h-full flex grow items-center justify-center opacity-0 bg-granite-d3/50
    text-granite-l5 text-sm transition group-hover:opacity-100 group-active:bg-granite-d3/80">

      {% if not noIcon %}
      <div class="w-6">

        {% include '@components/icon/icon.twig' with {
          icon_fill: 'fill-white',
          icon_name: 'copy'
        } %}

      </div>
      {% endif %}

      <div data-hex="{{ hex }}">{{ hex }}</div>

    </div>

    <div
      class="absolute left-1 bottom-1 w-fit px-1 py-0.25 bg-granite-d3/70 text-granite-l4
      text-sm opacity-100 group-hover:opacity-0 transition">

      <span>{{ label }}</span>

    </div>

  </div>

</div>